@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0.01;
  }

  100% {
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut 0.3s forwards;
  background-color: red;
}

.fadeIn {
  animation: fadeIn 0.3s forwards;
}